@use "../utils";
//@use not working with maps
@import "../utils/maps";

.main__background {
    padding: 3rem 0;
    background-color: utils.$grey-lighter;
}

main {
    padding: 3rem 0 5rem 0; 
        h2 {
        font-size: 1.2rem;
        margin-bottom: 3rem;
        margin-left: 5%;
    }
    .articles {
        padding: 0 5% 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
    }
}

.card {
    border-radius: 1rem;
    background-color: white;
    @include utils.simple-shadow;
    &__img {
        width: 100%;
        height: 250px;
        border-radius: 1rem 1rem 0 0;
        overflow: hidden;
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: center;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        position: relative;
    }
    &__text {
        p {
            font-weight: lighter;
        }
    }
    &__like {
        position: absolute;
        font-size: 1.5rem;
        top: 1.5rem;
        right: 1.5rem;
    }
}

@media (min-width: map-get($breakpoints, tablet)) {

    main .articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 2rem;
        article {
            width: 100%;
        }
    }
}

@media (min-width: map-get($breakpoints, desktop)) {

    .articles {
        max-width: 1800px;
        margin: 0 auto;
        article {
            width: 100%;
        }
    }
}