@use "../utils";
//@use not working with maps
@import "../utils/maps";

footer {
    color: white;
    background-color: utils.$grey-darker;
    padding-bottom: 3rem;
    & h4 {
        padding: 1rem 0 1rem 0;
        margin-left: 5%;
    }
    & ul {
        list-style: none;
        li {
            margin-bottom: 0.3rem;
            .fas {
                margin-right: 0.5rem;
            }
        }
    }
    & a {
        color: white;
    }
}

.footer {
    &__content {
        margin: 0 5%;    
    }
    &__site-info {
        font-weight: lighter;
    }
}

@media screen and (min-width: map-get($breakpoints, tablet)) {
    .footer {
        &__content {
            margin: 0 5%;
            display: flex;
            justify-content: space-around;
        }
    }
}

@media screen and (min-width: map-get($breakpoints, desktop)) {
    .footer {
        &__content {
            display: flex;
            justify-content: space-between;
        }
        &__partnership ul {
            display: flex;
            gap: 3em;
        }
        &__site-info ul {
            display: flex;
            gap: 3em;
            padding-right: 1rem;
        }
    }
}