@use "../utils";
//@use not working with maps
@import "../utils/maps";

nav{
    width: 90%;
    margin: 3rem auto;
    .function {
        h2 {
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
        }
        ol {
            list-style: none;
            counter-reset: listCounter;
        }
        li {
            display: flex;
            margin: 1rem auto;
            margin-left: 0.5rem;
            counter-increment: listCounter;
            position: relative;
            &:hover {
                background-color: utils.$color-primary-light;
            }
            &:hover .fas {
                color: utils.$color-primary;
            }
        }
        button {   
            background-color: transparent;
            border: none;
            font-weight: bold;
            white-space:nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &::before {
                content: counter(listCounter);
                height: 1.5rem;
                width: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: white;
                font-weight: bold;
                background-color: utils.$color-primary;
                position: absolute;
                left: -0.95em;
                top: 1.45em;
            }
            i {
                position: absolute;
                left: 2em;
                top: 1em;
                font-size: 1.3rem;
                color: grey;
            }
            span {
                padding-left: 5rem;
                font-size: 0.75rem;   
            }
        }
        &__btn {
            padding: 1.5rem;
            background-color: utils.$grey-lighter;
            border-radius: 1rem;
            @include utils.material-shadow;
        }
    }
}

@media (min-width: map-get($breakpoints, tablet)) {
    ol {
        li {
            justify-content: center;
            min-width: 375px;
        }
    }
    nav .function button span {
        padding-left: 0;
        font-size: 0.8rem;
    }
}


@media (min-width: map-get($breakpoints, desktop)) {
    ol {
        display: flex;
        gap: 3rem;
        justify-content: space-between;

        li {
            flex-basis: 100%;
            justify-content: center;
        }
    }

    nav .function button span {
        padding-left: 0;
        font-size: 0.9rem;
    }
}
